body {
    margin:10px;
}
.container{
display: flex;
flex-direction: column;

}
.box{
    background-color: gold;
    padding: 1rem;
}

.box-one{
    background-color: blue;
}
.box:nth-of-type(2){
    background-color: red;
}

p{
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (min-width:500px){
    .container{
        flex-direction: row;
    }
}